<li><%= gravatar_for user, size: 50 %></li>
<li><%= link_to user.name, user_path(user) %></li>
<% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user_path(user), method: :delete, data: {confirm: "You sure?"} %>
<% end %>